<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to schedule tweets</h1>
</div>

<% if @user %>
    Logged in as: <%= @user.email %>

    <%= link_to "Logout", logout_path, method: :delete %>
    <%= button_to "Logout", logout_path, method: :delete %>
<% end %>